* {
  box-sizing: border-box;

  font-family: sans-serif;
}

body {
  height: 130vh;
  margin: 0;
}

.btn {
  min-width: 120px;
  height: 40px;
  margin: 16px auto;

  font-size: 16px;
  color: white;

  border: none;
  opacity: 0.85;
  cursor: pointer;
}

.btn:hover {
  opacity: 1;
}

.open-modal {
  margin: 16px 16px 20px;

  color: white;

  background-color: rgb(11, 11, 211);
}

.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  max-width: 100%;
  height: 400px;
  max-height: 100%;
  z-index: 1010;
  
  background-color: rgba(82, 82, 82, 0.2);
}

.modal-guts {

  /* other stuff we already covered */

  /* cover the modal */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  /* spacing as needed */
  padding: 20px 50px 20px 20px;

  /* let it scroll */
  overflow: auto;
  
}

.modal-overlay {

  /* recommendation:
     don't focus on the number "1000" here, but rather,
     you should have a documented system for z-index and 
     follow that system. This number should be pretty
     high on the scale in that system.
  */
  z-index: 1000;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

}

.modal-content {
  margin: 5% auto 15% auto;
  width: 60%;
  height: auto;
  padding: 0 28px 6px 28px;
  
  background-color: whitesmoke;
  box-shadow: 0 12px 12px 0 rgba(82, 82, 82, 0.2);
}

hr {
  margin-bottom: 25px;
  width: 100%;
  border: 1px solid #eeeeee;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: auto;
}

.inputs-container {
  display: flex;
  flex-direction: column;
}

input[type=email],
input[type=password] {
  width: 90%;
  height: 40px;
  margin: 0 0 20px 0;
  padding: 4px 12px;

  font-size: 16px;

  background-color: rgb(238, 238, 238);
  border: none;
}

/* Add a background color when the inputs get focus */
input[type=email]:focus,
input[type=password]:focus {
  background-color: #dddddd;
  outline: none;
}

.inputs-container label {
  margin: 0 0 8px 0;

  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

.form-footer {
  display: flex;

  border-top: 1px solid rgb(165, 165, 165);
}

.cancel-signup {
  background-color: crimson;
  font-weight: 600;
}

.submit {
  background-color: darkgreen;
  font-weight: 600;
}
