.accordion {
  width: 100%;
  padding: 18px;

  font-size: 15px;
  text-align: left;
  color: #444444;

  background-color: rgb(218, 226, 240);
  border: none;
  outline: none;
  cursor: pointer;

  transition: 0.4s;
}

.accordion:after {
  content: "\02795";

  float: right;
  margin-left: 5px;
/* Unicode character for "plus" sign (+) */

  font-size: 13px;
  color: #777777;
}

.active:after {
  content: "\2796";
  /* Unicode character for "minus" sign (-) */
}

.active,
.accordion:hover {
  background-color: rgb(173, 195, 235);
}

.panel {
  max-height: 0;
  padding: 0 18px;
  overflow: hidden;

  background-color: white;

  transition: max-height 0.2s ease-out;
}
